<h1>ここはeditページです</h1>

<h1>Editing Book</h1>

<%= form_with model: @books do |book| %>
  <div class = form>
    <p>Title</p>
    <%= book.text_field :title %>
  </div>

  <div class = form>
    <p>Body</p>
    <%= book.text_area :body %>
  </div>

  <div class = form>
    <%= book.submit 'Update Book' %>
  </div>
  
  <p>
    <%= link_to "Show", "/books" %>
    ｜
    <%= link_to "Back", "/books" %>
  </p>
    
<% end %>